@model IEnumerable<HospitalManagementSystem.Models.TimetableSlot>

<div class="container">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase">Time</th>
                    <th class="text-uppercase">Monday</th>
                    <th class="text-uppercase">Tuesday</th>
                    <th class="text-uppercase">Wednesday</th>
                    <th class="text-uppercase">Thursday</th>
                    <th class="text-uppercase">Friday</th>
                    <th class="text-uppercase">Saturday</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var slot in Model)
                {
                    <tr>
                        <td class="align-middle">@slot.Time</td>
                        <td>@slot.Monday</td>
                        <td>@slot.Tuesday</td>
                        <td>@slot.Wednesday</td>
                        <td>@slot.Thursday</td>
                        <td>@slot.Friday</td>
                        <td>@slot.Saturday</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
